.big
{
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0px;
}
@media (min-width: 576px)
{
.navbar-expand-sm .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    margin-left: 472px;
}
}